.foodIcon{
    font-size: 4.5em;
    padding-left: 10px;
    padding-top: 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.foodIcon h4{
    font-size: 30px;
    padding-top: -121px;
    padding-left: 10px;
}
.foodslist{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px, 0;
}

#Dashboard_button{
    background: teal;
    margin-right: 5px;
    color: white;
}

.icon{
    padding-top: 20px;
    padding-left: 50px;
    font-weight: 10px;
}

/*--------------------- Food item --------------------------*/
@import url("../item/foodItem.css");