
.food_card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.food_card h2{
    width: 100%;
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}
.food_card span{
    color: rgb(31, 6, 255);
    font-size: 24px;
    
     
}

.food_card p{
    width: 100%;
    font-size: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 60px;
    overflow: hidden;
    color: #000000;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_view{
    background: teal;
    margin-right: 5px;
    
}

#btn_delete{
    background: rgb(224, 73, 36);
    margin-left: 5px;
}
.category_card input{
    position: absolute;
    width: 2px;
    height: 25px;
}


/* .food_card {
    max-width: 500px;
    overflow: hidden;
    height: 700px;
    padding: 10px;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    margin: 10px 10px;
    position: relative;
    background-color: rgb(187, 148, 98);
    text-decoration: none;
    list-style: none;

} */

.food_card {
    max-width: 300px;
    min-width: 300px;
    overflow: hidden;
    height: 650px;
    padding: 15px;
    box-shadow: 0 0 15px rgb(199, 114, 114);
    margin: 10px 10px;
    position: relative;
    background-color: rgb(243, 220, 189);
    text-decoration: none;
    list-style: none;
}


/* .food_card img {
    width: 100px;
    height: 300px;
} */