

.reportlist .btnnewReportlink{
    text-decoration: none;
    color: white;
    
}
.saved-reports-title{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 45px;
    margin-left: 45px;
}
.reporttopheader{
    display: flex;
}
.viewbtn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(28, 127, 219);
    color: white;
    border-radius: 10px;
}